#lista li{
    display: inline;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: gray;
}

a:hover{
    color: rgb(31, 30, 30);
}

.active{
    color: rgb(31, 30, 30);
    font-weight: 600;
}

.logo{
    color: black;
}

.glowacz{
    background-color: white;
}

.carousel-item{
    height: 500px;
}

.carousel-item img{
    height: 500px;
    object-fit: cover;
}

.logoLeft{
    display: none;
    color: black;
}