html, body{
    overflow-x: hidden;
    height: 100%;
}

#lista li{
    display: inline;
    font-size: 14px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover{
    text-decoration: underline;
}

.active{
    color: rgb(31, 30, 30);
    font-weight: 600;
}

.logo{
    color: black;
}

.glowacz{
    background-color: white;
}

.logoLeft{
    display: none;
    color: black;
}

.produkt a:hover{
    background-color: gray;
    opacity: 80%;
}

.input-group-text, .form-control{
    background-color: rgb(230, 228, 228);
    color: black;
    border-color: rgb(0, 0, 0);
}

.floating:focus{
    background-color: rgb(230, 228, 228);
    color: black;
}

.form-check-input{
    border-color: black;
}

.stopka-mobile, .stopka-pc{
    color: black;
    background-color: rgb(230, 228, 228);
}

.kategorie{
    background-color: rgb(230, 228, 228);
}

.stopka-pc{
    font-size: 0.8em;
}