@media screen and (max-width: 2560px){
    .stopka-mobile{
        display: none;
    }

    .carousel-item{
        height: 800px;
    }
    
    .carousel-item img{
        height: 800px;
        object-fit: cover;
    }

    .zdjecieProduktu{
        width: 650px;
        height: 800px;
    }
    
    .kategorieFont{
        font-size: 1em;
    }

    .informacje{
        margin-top: 100px;
    }

    .yatsuriLogo{
        width: 150px;
        height: auto;
    }

    .cart{
        margin-top: 25px;
    }
    
}

@media screen and (max-width: 1920px){
    .stopka-mobile{
        display: none;
    }

    .carousel-item{
        height: 900px;
    }
    
    .carousel-item img{
        height: 900px;
        object-fit: cover;
    }

    .zdjecieProduktu{
        /* width: 599px; */
        /* height: 738px; */
        max-width: 100%;
        height: auto;

    }

    .kategorieFont{
        font-size: 1em;
    }

    .yatsuriLogo{
        width: 150px;
        height: auto;
    }

    .cart{
        margin-top: 25px;
    }
}

@media screen and (max-width: 1366px){
    .stopka-mobile{
        display: none;
    }

    .carousel-item{
        height: 500px;
    }
    
    .carousel-item img{
        height: 500px;
        object-fit: cover;
    }

    .informacje{
        margin-top: 50px;
    }

    .puste{
        margin-top: 50px;
    }

    .zdjecieProduktu{
        width: 325px;
        height: 400px;
    }

    #produkt{
        max-width: 65.3%;
        height: auto;
    }

    .kategorieFont{
        font-size: 1em;
    }

    .yatsuriLogo{
        width: 150px;
        height: auto;
    }

    .cart{
        margin-top: 25px;
    }
}

@media screen and (max-width: 1024px){
    .stopka-pc, .fotka2{
        display: none;
    }

    .carousel-item{
        height: 500px;
    }
    
    .carousel-item img{
        height: 500px;
        object-fit: cover;
    }

    .stopka-mobile{
        display: block;
    }

    .zdjecieProduktu{
        width: auto;
        height: auto;
        max-width: 85%;
        max-height: 85%;
    }

    .kategorieFont{
        font-size: 1em;
    }

    .yatsuriLogo{
        width: 150px;
        height: auto;
    }

    .cart{
        margin-top: 25px;
    }
}

@media screen and (max-width: 425px) {
    .logo, .stopka-pc, .news1, .news2, .fotka2, .puste{
        display: none;
    }

    .logoLeft{
        display: block;
    }

    .yatsuriLogo{
        width: 10px;
        height: auto;
    }

    .carousel-item{
        height: 500px;
    }
    
    .carousel-item img{
        height: 500px;
        object-fit: cover;
    }

    .stopka-mobile{
        display: block;
        font-size: 0.8em;
    }

    .banerYatsuri{
        display: none;
    }

    #produkt{
        /* width: 325px;
        height: 400px; */
        width: 100%;
        height: 100%;
    }

    .produkt{
        display: block;
        width: 100%;
    }

    .informacje{
        width: 100%;
        padding: 30px;
        padding-top: 0px;
    }

    .itemek{
        width: 100%;
        margin-left: 30px;
    }

    .zdjecieProduktu{
        width: 325px;
        height: 400px;
        max-width: 325px;
        max-height: 400px;
        
    }

    .katalog{
        display: block;
    }

    .kategorieFont{
        font-size: 0.7em;
    }

    .cart{
        margin-top: 14px;
    }
}
